extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  h2 Regions
  table
    thead
      th region_number
      th Name

    tbody
      each row, i in rows
        tr
          td.fit #{i+1}
          td.fit
            a(href=`/countries/region/${row.Region}`) #{row.Region}